
body{
    /* background-image: url("../image/background.jpg"); */
    padding-left: 40%;
    font-family: 'Courier Prime',monospace;
    padding-top: 10%;
}
span#password {
    font-size: large;
    
}

span#clip {
    visibility: hidden;
}

